<wm-page data-ng-controller="parent_framePageController" pagetitle="Parent Frame"> 
    <wm-content> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-layoutgrid name="layoutgrid1"> 
                <wm-gridrow name="gridrow2"> 
                    <wm-gridcolumn columnwidth="6" name="gridcolumn3" horizontalalign="center"> 
                        <wm-anchor margin="unset 0.5em" name="anchor1" caption="youtube" fontunit="em" fontsize="2" target="_parent" hyperlink="https://www.bing.com/images/"></wm-anchor> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="6" name="gridcolumn4"></wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-page-content> 
    </wm-content> 
</wm-page>