<wm-partial data-ng-controller="anchor_binding_partialPageController" name="partial1"> 
    <wm-layoutgrid name="layoutgrid1" columns="2"> 
        <wm-gridrow name="gridrow28"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn71"> 
                <wm-label padding="unset 0.5em" name="label3" class="h2" caption="Anchor widget properties with Bindings"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn72" horizontalalign="center"> 
                <wm-label padding="unset 0.5em" name="label4" caption="Preview" fontweight="bold" class="h2"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow34"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn83"> 
                <wm-label padding="unset 0.5em" name="label20_1" class="h3" fontweight="bold" caption="Changeable properties"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn84"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow29"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn73"> 
                <wm-composite name="composite1"> 
                    <wm-label class="col-md-3 control-label" name="label1" caption="Caption"></wm-label> 
                    <wm-container class="col-md-9" name="container1"> 
                        <wm-text name="text1" placeholder="Enter caption" datavalue="testLink"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite2"> 
                    <wm-label class="col-md-3 control-label" name="label2" caption="Badge"></wm-label> 
                    <wm-container class="col-md-9" name="container2"> 
                        <wm-text name="text2" datavalue="BadgeValue"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite3"> 
                    <wm-label class="col-md-3 control-label" name="label5" caption="Hint"></wm-label> 
                    <wm-container class="col-md-9" name="container3"> 
                        <wm-text name="text3" datavalue="link Hint"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite4"> 
                    <wm-label class="col-md-3 control-label" name="label6" caption="Hyperlink"></wm-label> 
                    <wm-container class="col-md-9" name="container4"> 
                        <wm-select name="select1" dataset="https://www.flipkart.com,https://www.amazon.in,https://www.w3schools.com/,https://www.wavemaker.com/showcase/,resources/images/imagelists/if_link_1814105.ico" datafield="All Fields" datavalue="https://www.flipkart.com"></wm-select> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite7"> 
                    <wm-label class="col-md-3 control-label" name="label9" caption="Show/Hide"></wm-label> 
                    <wm-container class="col-md-9" name="container7"> 
                        <wm-checkbox caption="Toggle" type="toggle" name="toggle1" datavalue="true"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite8"> 
                    <wm-label class="col-md-3 control-label" name="label10" caption="Icon Class"></wm-label> 
                    <wm-container class="col-md-9" name="container8"> 
                        <wm-text name="text5" datavalue="wi wi-book"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite9"> 
                    <wm-label class="col-md-3 control-label" name="label11" caption="Icon URL"></wm-label> 
                    <wm-container class="col-md-9" name="container9"> 
                        <wm-text name="text6" datavalue="resources/images/imagelists/if_link_1814105.ico"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-label padding="unset 0.5em" name="label20" caption="Unchangeable properties in run mode" fontweight="bold" class="h3"></wm-label> 
                <wm-composite name="composite8_1"> 
                    <wm-label class="col-md-3 control-label" name="label11_1" caption="TabIndex"></wm-label> 
                    <wm-container class="col-md-9" name="container8_1"> 
                        <wm-text name="text6_1" datavalue="bind:Widgets.anchor1.tabindex" readonly="false" disabled="true"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite9_1"> 
                    <wm-label class="col-md-3 control-label" name="label12_1" caption="Shortcut"></wm-label> 
                    <wm-container class="col-md-9" name="container9_1"> 
                        <wm-text name="text7" readonly="false" datavalue="bind:Widgets.anchor1.shortcutkey" disabled="true"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite10"> 
                    <wm-label class="col-md-3 control-label" name="label13" caption="Load On Demand"></wm-label> 
                    <wm-container class="col-md-9" name="container10"> 
                        <wm-checkbox type="toggle" name="toggle2" readonly="false" datavalue="bind:Widgets.anchor1.deferload" disabled="true"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite11"> 
                    <wm-label class="col-md-3 control-label" name="label14" caption="Name"></wm-label> 
                    <wm-container class="col-md-9" name="container11"> 
                        <wm-text name="text9" readonly="false" datavalue="bind:Widgets.anchor1.name" disabled="true"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite12"> 
                    <wm-label class="col-md-3 control-label" name="label15" caption="Width / Height"></wm-label> 
                    <wm-container class="col-md-9" name="container12"> 
                        <wm-text name="text10" readonly="false" datavalue="bind:Widgets.anchor1.width + &quot; / &quot; + Widgets.anchor1.height" disabled="true"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite13"> 
                    <wm-label class="col-md-3 control-label" name="label16" caption="Animation"></wm-label> 
                    <wm-container class="col-md-9" name="container13"> 
                        <wm-text name="text11" readonly="false" datavalue="bind:Widgets.anchor1.animation" disabled="true"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite14"> 
                    <wm-label class="col-md-3 control-label" name="label17" caption="Target"></wm-label> 
                    <wm-container class="col-md-9" name="container14"> 
                        <wm-text name="text12" readonly="false" datavalue="bind:Widgets.anchor1.target" disabled="true"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite15"> 
                    <wm-label class="col-md-3 control-label" name="label18" caption="Encode URL"></wm-label> 
                    <wm-container class="col-md-9" name="container15"> 
                        <wm-text name="text13" readonly="false" datavalue="bind:Widgets.anchor1.encodeurl" disabled="true"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite16"> 
                    <wm-label class="col-md-3 control-label" name="label19" caption="Icon width/height/margin/ position"></wm-label> 
                    <wm-container class="col-md-9" name="container16"> 
                        <wm-text name="text14" readonly="false" datavalue="bind:Widgets.anchor1.iconwidth + &quot;/&quot; + Widgets.anchor1.iconheight + &quot;/&quot; + Widgets.anchor1.iconmargin + &quot;/&quot; + Widgets.anchor1.iconposition" disabled="true"></wm-text> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn74" horizontalalign="center"> 
                <wm-anchor margin="8em 0.5em 2em 0.5em" name="anchor1" caption="bind:Widgets.text1.datavalue" bordercolor="#353535" borderstyle="dashed" padding="4em" badgevalue="bind:Widgets.text2.datavalue" tabindex="1" hint="bind:Widgets.text3.datavalue" hyperlink="bind:Widgets.select1.datavalue" show="bind:Widgets.toggle1.datavalue" shortcutkey="l" width="200px" height="200px" animation="rollIn" iconclass="bind:Widgets.text5.datavalue" iconurl="bind:Widgets.text6.datavalue" deferload="true" encodeurl="true" iconwidth="20px" iconheight="20px" iconmargin="5px" iconposition="top" target="_blank" on-click="anchor1Click($event, widget)" showindevice="md,lg"></wm-anchor> 
                <wm-label padding="unset 0.5em" name="label22" caption="Oubound properties" fontweight="bold" fontunit="px" class="h3"></wm-label> 
                <wm-composite name="composite17"> 
                    <wm-label class="col-md-3 control-label" name="label23" caption="Badge"></wm-label> 
                    <wm-container class="col-md-9" name="container17"> 
                        <wm-text name="text14_1" datavalue="bind:Widgets.anchor1.badgevalue"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite18"> 
                    <wm-label class="col-md-3 control-label" name="label24" caption="Caption"></wm-label> 
                    <wm-container class="col-md-9" name="container18"> 
                        <wm-text name="text15" datavalue="bind:Widgets.anchor1.caption"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite19"> 
                    <wm-label class="col-md-3 control-label" name="label25" caption="Hyperlink"></wm-label> 
                    <wm-container class="col-md-9" name="container19"> 
                        <wm-text name="text16" datavalue="bind:Widgets.anchor1.hyperlink"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite20"> 
                    <wm-label class="col-md-3 control-label" name="label26" caption="Icon Class"></wm-label> 
                    <wm-container class="col-md-9" name="container20"> 
                        <wm-text name="text17" datavalue="bind:Widgets.anchor1.iconclass"></wm-text> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow30"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn75"> 
                <wm-anchor margin="unset 0.5em" name="anchor2" tabindex="1" show="true" hyperlink="//google.com/, / ? : @ &amp; = + $ #"></wm-anchor> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn76"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow31"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn77"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn78"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow32"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn79"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn80"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow33"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn81"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn82"></wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>