<wm-partial data-ng-controller="picture_events_partialPageController"> 
    <wm-layoutgrid name="layoutgrid1" columns="2"> 
        <wm-gridrow name="gridrow28"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn71"> 
                <wm-label padding="unset 0.5em" name="label3" class="h2" caption="Picture widget properties with Events"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn72" horizontalalign="center"> 
                <wm-label padding="unset 0.5em" name="label4" caption="Preview" fontweight="bold" class="h2"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow34"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn83"> 
                <wm-label padding="unset 0.5em" name="label20_1" class="h3" fontweight="bold" caption="Changeable properties is defined in 'On Click'"></wm-label> 
                <wm-label padding="unset 0.5em" name="label25" caption="For all other events static values assigned in scipt" class="h3" fontstyle="italic"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn84"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow29"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn73"> 
                <wm-composite name="composite3"> 
                    <wm-label class="col-md-3 control-label" name="label5" caption="Hint"></wm-label> 
                    <wm-container class="col-md-9" name="container3"> 
                        <wm-text name="text3" datavalue="Picture hint"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite7"> 
                    <wm-label class="col-md-3 control-label" name="label9" caption="Show/Hide"></wm-label> 
                    <wm-container class="col-md-9" name="container7"> 
                        <wm-checkbox caption="Toggle" type="toggle" name="toggle1" datavalue="true"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite8"> 
                    <wm-label class="col-md-3 control-label" name="label10" caption="Source"></wm-label> 
                    <wm-container class="col-md-9" name="container8"> 
                        <wm-select name="select1" datavalue="http://apng.onevcat.com/assets/elephant.gif" dataset="https://kbob.github.io/images/sample-5.jpg,resources/images/imagelists/sample.jpg,https://bellard.org/bpg/3.png,http://apng.onevcat.com/assets/elephant.gif,butterfly.jpg" datafield="All Fields"></wm-select> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite17_1"> 
                    <wm-label class="col-md-3 control-label" name="label21_1" caption="Placeholder"></wm-label> 
                    <wm-container class="col-md-9" name="container17_1"> 
                        <wm-select name="select2" dataset="resources/images/imagelists/No_Image_Available.png, resources/images/imagelists/no-image.png" datavalue="resources/images/imagelists/No_Image_Available.png"></wm-select> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite10"> 
                    <wm-label class="col-md-3 control-label" name="label13" caption="Encode URL"></wm-label> 
                    <wm-container class="col-md-9" name="container10"> 
                        <wm-checkbox type="toggle" name="toggle2" readonly="false" disabled="false" datavalue="bind:Widgets.picture1.encodeurl"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite14"> 
                    <wm-label class="col-md-3 control-label" name="label17" caption="Aspect"></wm-label> 
                    <wm-container class="col-md-9" name="container14"> 
                        <wm-select name="select3" dataset="Both,H,None,V" datavalue="None" datafield="All Fields"></wm-select> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite15"> 
                    <wm-label class="col-md-3 control-label" name="label18" caption="Shape"></wm-label> 
                    <wm-container class="col-md-9" name="container15"> 
                        <wm-select name="select4" dataset="rounded,circle,thumbnail" datavalue="rounded" datafield="All Fields"></wm-select> 
                    </wm-container> 
                </wm-composite> 
                <wm-label padding="unset 0.5em" name="label20" caption="Unchangeable properties in run mode" fontweight="bold" class="h3"></wm-label> 
                <wm-composite name="composite8_1"> 
                    <wm-label class="col-md-3 control-label" name="label11_1" caption="TabIndex"></wm-label> 
                    <wm-container class="col-md-9" name="container8_1"> 
                        <wm-text name="text6_1" readonly="false" disabled="true" datavalue="bind:Widgets.picture1.tabindex"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite9_1"> 
                    <wm-label class="col-md-3 control-label" name="label12_1" caption="Animation"></wm-label> 
                    <wm-container class="col-md-9" name="container9_1"> 
                        <wm-text name="text7" readonly="false" disabled="true" datavalue="bind:Widgets.picture1.animation  "></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite11"> 
                    <wm-label class="col-md-3 control-label" name="label14" caption="Name"></wm-label> 
                    <wm-container class="col-md-9" name="container11"> 
                        <wm-text name="text9" readonly="false" disabled="true" datavalue="bind:Widgets.picture1.name"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite12"> 
                    <wm-label class="col-md-3 control-label" name="label15" caption="Width / Height"></wm-label> 
                    <wm-container class="col-md-9" name="container12"> 
                        <wm-text name="text10" readonly="false" disabled="true" datavalue="bind:Widgets.picture1.width + &quot; / &quot; + Widgets.picture1.height"></wm-text> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn74" horizontalalign="center"> 
                <wm-picture name="picture1" tabindex="1" pictureaspect="None" shape="circle" animation="bounce" encodeurl="true" show="true" width="300px" height="250px" on-click="picture1Click($event, $scope)" on-dblclick="picture1Dblclick($event, $scope)" on-mouseenter="picture1Mouseenter($event, $scope)" on-mouseleave="picture1Mouseleave($event, $scope)" on-tap="picture1Tap($event, $scope)" on-doubletap="picture1Doubletap($event, $scope)"></wm-picture> 
                <wm-label padding="unset 0.5em" name="label22_1" caption="Outbound properties" class="h3" fontweight="bold"></wm-label> 
                <wm-composite name="composite16_2"> 
                    <wm-label class="col-md-3 control-label" name="label20_3" caption="Picturesource"></wm-label> 
                    <wm-container class="col-md-9" name="container16_2"> 
                        <wm-text name="text10_1" datavalue="bind:Widgets.picture1.picturesource"></wm-text> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow30"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn75"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn76"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow31"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn77"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn78"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow32"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn79"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn80"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow33"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn81"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn82"></wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>