<wm-page data-ng-controller="time_bindingPageController" pagetitle="Time Binding"> 
    <wm-header content="header"></wm-header> 
    <wm-top-nav content="topnav"></wm-top-nav> 
    <wm-content> 
        <wm-page-content columnwidth="12" name="mainContent" padding="unset 15px"> 
            <wm-accordion name="accordion1"> 
                <wm-accordionpane name="accordionpane1" title="Time Bindings"> 
                    <wm-layoutgrid name="layoutgrid1" columns="2"> 
                        <wm-gridrow name="gridrow28"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn71"> 
                                <wm-label padding="unset 0.5em" name="label3" class="h2" caption="Time widget properties with Bindings"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn72" horizontalalign="center"> 
                                <wm-label padding="unset 0.5em" name="label4" caption="Preview" fontweight="bold" class="h2"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow34"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn83"> 
                                <wm-label padding="unset 0.5em" name="label20_1" class="h3" fontweight="bold" caption="Changeable properties"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn84"></wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow29"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn73"> 
                                <wm-composite name="composite1"> 
                                    <wm-label class="col-md-3 control-label" name="label1" caption="Placeholder"></wm-label> 
                                    <wm-container class="col-md-9" name="container1"> 
                                        <wm-text name="text1" placeholder="Enter caption" datavalue="New Time"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite3"> 
                                    <wm-label class="col-md-3 control-label" name="label5" caption="Hint"></wm-label> 
                                    <wm-container class="col-md-9" name="container3"> 
                                        <wm-text name="text3" datavalue="save time"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite7"> 
                                    <wm-label class="col-md-3 control-label" name="label9" caption="Show/Hide"></wm-label> 
                                    <wm-container class="col-md-9" name="container7"> 
                                        <wm-checkbox caption="Toggle" type="toggle" name="toggle1" datavalue="true"></wm-checkbox> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite8"> 
                                    <wm-label class="col-md-3 control-label" name="label10" caption="Value"></wm-label> 
                                    <wm-container class="col-md-9" name="container8"> 
                                        <wm-text name="text5" datavalue="12:40:55"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite21"> 
                                    <wm-label class="col-md-3 control-label" name="label26" caption="Required"></wm-label> 
                                    <wm-container class="col-md-9" name="container21"> 
                                        <wm-checkbox caption="Toggle" type="toggle" name="toggle3" datavalue="true" checkedvalue="true" uncheckedvalue="false"></wm-checkbox> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite15"> 
                                    <wm-label class="col-md-3 control-label" name="label19" caption="Disabled"></wm-label> 
                                    <wm-container class="col-md-9" name="container15"> 
                                        <wm-checkbox caption="Toggle" type="toggle" name="toggle4" datavalue="false" checkedvalue="true" uncheckedvalue="false"></wm-checkbox> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite20"> 
                                    <wm-label class="col-md-3 control-label" name="label24" caption="Read Only"></wm-label> 
                                    <wm-container class="col-md-9" name="container20"> 
                                        <wm-checkbox caption="Toggle" type="toggle" name="toggle6" datavalue="false"></wm-checkbox> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-label padding="unset 0.5em" name="label20" caption="Unchangeable properties in run mode" fontweight="bold" class="h3"></wm-label> 
                                <wm-composite name="composite8_1"> 
                                    <wm-label class="col-md-3 control-label" name="label11_1" caption="Tab Index"></wm-label> 
                                    <wm-container class="col-md-9" name="container8_1"> 
                                        <wm-text name="text6_1" readonly="false" disabled="true" datavalue="bind:Widgets.time1.tabindex"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite10"> 
                                    <wm-label class="col-md-3 control-label" name="label13" caption="Load On Demand"></wm-label> 
                                    <wm-container class="col-md-9" name="container10"> 
                                        <wm-checkbox type="toggle" name="toggle2" readonly="false" disabled="true" datavalue="bind:Widgets.time1.deferload"></wm-checkbox> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite11"> 
                                    <wm-label class="col-md-3 control-label" name="label14" caption="Name"></wm-label> 
                                    <wm-container class="col-md-9" name="container11"> 
                                        <wm-text name="text9" readonly="false" disabled="true" datavalue="bind:Widgets.time1.name"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite12"> 
                                    <wm-label class="col-md-3 control-label" name="label15" caption="Shortcut Key"></wm-label> 
                                    <wm-container class="col-md-9" name="container12"> 
                                        <wm-text name="text10" readonly="false" datavalue="bind:Widgets.time1.shortcutkey" disabled="true"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite13"> 
                                    <wm-label class="col-md-3 control-label" name="label16" caption="Time Pattern"></wm-label> 
                                    <wm-container class="col-md-9" name="container13"> 
                                        <wm-text name="text11" readonly="false" datavalue="bind:Widgets.time1.timepattern" disabled="true"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite16"> 
                                    <wm-label class="col-md-3 control-label" name="label20_2" caption="Hour Step"></wm-label> 
                                    <wm-container class="col-md-9" name="container16"> 
                                        <wm-text name="text11_1" datavalue="bind:Widgets.time1.hourstep" disabled="true"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite17"> 
                                    <wm-label class="col-md-3 control-label" name="label21" caption="Min Step"></wm-label> 
                                    <wm-container class="col-md-9" name="container17"> 
                                        <wm-text name="text12" datavalue="bind:Widgets.time1.minutestep" disabled="true"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite19"> 
                                    <wm-label class="col-md-3 control-label" name="label23" caption="Output Format"></wm-label> 
                                    <wm-container class="col-md-9" name="container19"> 
                                        <wm-text name="text14" datavalue="bind:Widgets.time1.outputformat" disabled="true"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite18"> 
                                    <wm-label class="col-md-3 control-label" name="label22" caption="Auto Focus"></wm-label> 
                                    <wm-container class="col-md-9" name="container18"> 
                                        <wm-checkbox caption="Toggle" type="toggle" name="toggle5" datavalue="bind:Widgets.time1.autofocus" disabled="true"></wm-checkbox> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite21_1"> 
                                    <wm-label class="col-md-3 control-label" name="label25" caption="Min Time"></wm-label> 
                                    <wm-container class="col-md-9" name="container21_1"> 
                                        <wm-text name="text13" disabled="true" datavalue="bind:Widgets.time1.mintime"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite22"> 
                                    <wm-label class="col-md-3 control-label" name="label26_1" caption="Max Time"></wm-label> 
                                    <wm-container class="col-md-9" name="container22"> 
                                        <wm-text name="text14_1" disabled="true" datavalue="bind:Widgets.time1.maxtime"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn74" horizontalalign="center"> 
                                <wm-composite name="composite19_1" horizontalalign="left"> 
                                    <wm-label class="col-md-3 control-label" name="label23_1" caption="Time"></wm-label> 
                                    <wm-container class="col-md-9" name="container19_1"> 
                                        <wm-time name="time1" placeholder="bind:Widgets.text1.datavalue" hint="bind:Widgets.text3.datavalue" shortcutkey="1" datavalue="bind:Widgets.text5.datavalue" timepattern="HH:mm:ss" hourstep="1" minutestep="1" outputformat="hh:mm a" required="bind:Widgets.toggle3.datavalue" mintime="01:00:00" maxtime="22:00:00" autofocus="true" color="#00483d" margin="1em unset unset unset" class="input-group-lg input-lg" disabled="bind:Widgets.toggle4.datavalue" readonly="bind:Widgets.toggle6.datavalue" show="bind:Widgets.toggle1.datavalue"></wm-time> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-label padding="unset 0.5em" name="label27" caption="Outbound properties" class="h2" fontweight="bold"></wm-label> 
                                <wm-composite name="composite23"> 
                                    <wm-label class="col-md-3 control-label" name="label28" caption="Timestamp"></wm-label> 
                                    <wm-container class="col-md-9" name="container23"> 
                                        <wm-text name="text15" datavalue="bind:Widgets.time1.timestamp"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite24"> 
                                    <wm-label class="col-md-3 control-label" name="label29" caption="Output Format"></wm-label> 
                                    <wm-container class="col-md-9" name="container24"> 
                                        <wm-text name="text16" datavalue="bind:Widgets.time1.datavalue"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow30"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn75"></wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn76"></wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow31"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn77"></wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn78"></wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow32"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn79"></wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn80"></wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow33"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn81"></wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn82"></wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                </wm-accordionpane> 
                <wm-accordionpane name="accordionpane2" title="Time Bindings Partial" content="time_binding_partial"></wm-accordionpane> 
            </wm-accordion> 
        </wm-page-content> 
    </wm-content> 
    <wm-footer content="footer"></wm-footer> 
</wm-page>