<wm-page data-ng-controller="html_eventsPageController" pagetitle="Html Events"> 
    <wm-header content="header"></wm-header> 
    <wm-top-nav content="topnav"></wm-top-nav> 
    <wm-content> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-accordion name="accordion1"> 
                <wm-accordionpane name="accordionpane1" title="HTML Events"> 
                    <wm-layoutgrid name="layoutgrid1" columns="2"> 
                        <wm-gridrow name="gridrow28"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn71"> 
                                <wm-label padding="unset 0.5em" name="label3" class="h2" caption="HTML widget properties with Events"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn72" horizontalalign="center"> 
                                <wm-label padding="unset 0.5em" name="label4" caption="Preview" fontweight="bold" class="h2"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow34"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn83"> 
                                <wm-label padding="unset 0.5em" name="label20_1" class="h3" fontweight="bold" caption="Changeable properties"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn84"></wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow29"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn73"> 
                                <wm-composite name="composite3"> 
                                    <wm-label class="col-md-3 control-label" name="label5" caption="Hint"></wm-label> 
                                    <wm-container class="col-md-9" name="container3"> 
                                        <wm-text name="text3" datavalue="HTML hint"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite7"> 
                                    <wm-label class="col-md-3 control-label" name="label9" caption="Show/Hide"></wm-label> 
                                    <wm-container class="col-md-9" name="container7"> 
                                        <wm-checkbox caption="Toggle" type="toggle" name="toggle1" datavalue="true"></wm-checkbox> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite14"> 
                                    <wm-label class="col-md-3 control-label" name="label17" caption="Content"></wm-label> 
                                    <wm-container class="col-md-9" name="container14"> 
                                        <wm-textarea name="textarea1" height="200px" datavalue="<!DOCTYPE html><html><head><meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;><style> .button {   border-radius: 4px;   background-color: #f4511e;   border: none;   color: #FFFFFF;   text-align: center;   font-size: 28px;   padding: 20px;   width: 200px;   transition: all 0.5s;   cursor: pointer;   margin: 5px; }  .button span {   cursor: pointer;   display: inline-block;   position: relative;   transition: 0.5s; }  .button span:after {   content: '\00bb';   position: absolute;   opacity: 0;   top: 0;   right: -20px;   transition: 0.5s; }  .button:hover span {   padding-right: 25px; }  .button:hover span:after {   opacity: 1;   right: 0; } </style></head><body><h2>Animated Button</h2><button class=&quot;button&quot;><span>Hover </span></button></body></html>"></wm-textarea> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-label padding="unset 0.5em" name="label20" caption="Unchangeable properties in run mode" fontweight="bold" class="h3"></wm-label> 
                                <wm-composite name="composite11"> 
                                    <wm-label class="col-md-3 control-label" name="label14" caption="Name"></wm-label> 
                                    <wm-container class="col-md-9" name="container11"> 
                                        <wm-text name="text9" readonly="false" disabled="true" datavalue="bind:Widgets.html1.name"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite12"> 
                                    <wm-label class="col-md-3 control-label" name="label15" caption="Width / Height"></wm-label> 
                                    <wm-container class="col-md-9" name="container12"> 
                                        <wm-text name="text10" readonly="false" disabled="true" datavalue="bind:Widgets.html1.width + &quot; / &quot; + Widgets.html1.height"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn74" horizontalalign="center"> 
                                <wm-html name="html1" width="auto" height="300px" borderstyle="dashed" bordercolor="#000000" horizontalalign="right" backgroundcolor="#82ff99" show="true" on-click="html1Click($event, $scope)" on-dblclick="html1Dblclick($event, $scope)" on-mouseenter="html1Mouseenter($event, $scope)" on-mouseleave="html1Mouseleave($event, $scope)" on-tap="html1Tap($event, $scope)" on-doubletap="html1Doubletap($event, $scope)"></wm-html> 
                                <wm-label padding="unset 0.5em" name="label22_1" caption="Outbound properties" class="h3" fontweight="bold"></wm-label> 
                                <wm-composite name="composite16_2"> 
                                    <wm-label class="col-md-3 control-label" name="label20_3" caption="Content"></wm-label> 
                                    <wm-container class="col-md-9" name="container16_2"> 
                                        <wm-textarea name="textarea2" datavalue="bind:Widgets.html1.content" height="200px"></wm-textarea> 
                                    </wm-container> 
                                </wm-composite> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow30"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn75"></wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn76"></wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow31"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn77"></wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn78"></wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow32"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn79"></wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn80"></wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow33"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn81"></wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn82"></wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                </wm-accordionpane> 
                <wm-accordionpane name="accordionpane2" title="HTML Events Partial" content="html_events_partial"></wm-accordionpane> 
            </wm-accordion> 
        </wm-page-content> 
    </wm-content> 
    <wm-footer content="footer"></wm-footer> 
</wm-page>