<wm-page data-ng-controller="target_checkPageController" pagetitle="Target Check"> 
    <wm-content> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-layoutgrid name="layoutgrid1" columns="4"> 
                <wm-gridrow name="gridrow3"> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn5" horizontalalign="center"> 
                        <wm-label padding="unset 0.5em" name="label1" caption="_blank"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn6" horizontalalign="center"> 
                        <wm-label padding="unset 0.5em" name="label2" caption="_self"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn7" horizontalalign="center"> 
                        <wm-label padding="unset 0.5em" name="label3" caption="_top"></wm-label> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn8" horizontalalign="center"> 
                        <wm-label padding="unset 0.5em" caption="_parent" name="label5"></wm-label> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow4"> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn9" horizontalalign="center"> 
                        <wm-anchor margin="unset 0.5em" name="anchor1" target="_blank" hyperlink="https://www.flipkart.com" caption="Flipkart" fontunit="em" fontsize="2"></wm-anchor> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn10" horizontalalign="center"> 
                        <wm-anchor margin="unset 0.5em" name="anchor2" hyperlink="https://www.bing.com/" fontsize="2" fontunit="em" caption="Bing" encodeurl="true"></wm-anchor> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn11" horizontalalign="center"> 
                        <wm-anchor margin="unset 0.5em" name="anchor3" target="_top" hyperlink="https://www.wavemaker.com" caption="wavemaker" fontunit="em" fontsize="2"></wm-anchor> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn12" horizontalalign="center"> 
                        <wm-iframe name="iframe1" iframesrc="https://www.wavemakeronline.com/run-rk7pzg3qc8/widgetTest/#/parent_frame"></wm-iframe> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-page-content> 
    </wm-content> 
</wm-page>