<wm-partial data-ng-controller="anchor_script_partialPageController" name="partial1"> 
    <wm-layoutgrid name="layoutgrid1" columns="2"> 
        <wm-gridrow name="gridrow28"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn71"> 
                <wm-label padding="unset 0.5em" name="label3" class="h2" caption="Anchor widget properties with Script"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn72" horizontalalign="center"> 
                <wm-label padding="unset 0.5em" name="label4" caption="Preview" fontweight="bold" class="h2" on-click="label4Click($event, widget)"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow34"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn83"> 
                <wm-label padding="unset 0.5em" name="label20_1" class="h3" fontweight="bold" caption="Changeable properties"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn84"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow29"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn73"> 
                <wm-composite name="composite1"> 
                    <wm-label class="col-md-3 control-label" name="label1" caption="Caption"></wm-label> 
                    <wm-container class="col-md-9" name="container1"> 
                        <wm-text name="text1" placeholder="Enter caption" datavalue="testLink" tabindex="-1" on-change="text1Change($event, widget, newVal, oldVal);text1Change1($event, $scope, newVal, oldVal)"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite2"> 
                    <wm-label class="col-md-3 control-label" name="label2" caption="Badge"></wm-label> 
                    <wm-container class="col-md-9" name="container2"> 
                        <wm-text name="text2" datavalue="BadgeValue" tabindex="-1" on-change="text2Change($event, widget, newVal, oldVal)"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite3"> 
                    <wm-label class="col-md-3 control-label" name="label5" caption="Hint"></wm-label> 
                    <wm-container class="col-md-9" name="container3"> 
                        <wm-text name="text3" datavalue="link Hint" tabindex="-1" on-change="text3Change($event, widget, newVal, oldVal)"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite4"> 
                    <wm-label class="col-md-3 control-label" name="label6" caption="Hyperlink"></wm-label> 
                    <wm-container class="col-md-9" name="container4"> 
                        <wm-select name="select1" dataset="https://www.flipkart.com,https://www.bing.com,https://www.w3schools.com/,https://www.wavemaker.com/showcase/" datafield="All Fields" datavalue="https://www.flipkart.com" tabindex="-1" on-change="select1Change($event, widget, newVal, oldVal)"></wm-select> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite7"> 
                    <wm-label class="col-md-3 control-label" name="label9" caption="Show/Hide"></wm-label> 
                    <wm-container class="col-md-9" name="container7"> 
                        <wm-checkbox caption="Toggle" type="toggle" name="toggle1" datavalue="true" tabindex="-1" on-change="toggle1Change($event, widget, newVal, oldVal)"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite8"> 
                    <wm-label class="col-md-3 control-label" name="label10" caption="Icon Class"></wm-label> 
                    <wm-container class="col-md-9" name="container8"> 
                        <wm-text name="text5" datavalue="wi wi-book" tabindex="-1" on-change="text5Change($event, widget, newVal, oldVal)"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite9"> 
                    <wm-label class="col-md-3 control-label" name="label11" caption="Icon URL"></wm-label> 
                    <wm-container class="col-md-9" name="container9"> 
                        <wm-text name="text6" datavalue="resources/images/imagelists/if_link_1814105.ico" tabindex="-1" on-change="text6Change($event, widget, newVal, oldVal)"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite14"> 
                    <wm-label class="col-md-3 control-label" name="label17" caption="Target"></wm-label> 
                    <wm-container class="col-md-9" name="container14"> 
                        <wm-select name="select2" dataset="_blank,_self,_parent,_top,iframe1" datavalue="_blank" on-change="select2Change($event, widget, newVal, oldVal)"></wm-select> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite15"> 
                    <wm-label class="col-md-3 control-label" name="label18" caption="Encode URL"></wm-label> 
                    <wm-container class="col-md-9" name="container15"> 
                        <wm-text name="text13" readonly="false" datavalue="bind:Widgets.anchor1.encodeurl" disabled="false" tabindex="-1" on-change="text13Change($event, widget, newVal, oldVal)"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite16"> 
                    <wm-label class="col-md-3 control-label" name="label19" caption="Icon width"></wm-label> 
                    <wm-container class="col-md-9" name="container16"> 
                        <wm-text name="text14" readonly="false" datavalue="20px" disabled="false" tabindex="-1" on-change="text14Change($event, widget, newVal, oldVal)"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite17"> 
                    <wm-label class="col-md-3 control-label" name="label21" caption="Icon height"></wm-label> 
                    <wm-container class="col-md-9" name="container17"> 
                        <wm-text name="text14_1" datavalue="20px" on-change="text14_1Change($event, widget, newVal, oldVal)"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite18"> 
                    <wm-label class="col-md-3 control-label" name="label22" caption="Icon Margin"></wm-label> 
                    <wm-container class="col-md-9" name="container18"> 
                        <wm-text name="text15" datavalue="5px" on-change="text15Change($event, widget, newVal, oldVal)"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite19"> 
                    <wm-label class="col-md-3 control-label" name="label23" caption="Icon position"></wm-label> 
                    <wm-container class="col-md-9" name="container19"> 
                        <wm-select name="select3" datavalue="top" dataset="top,left,right" on-change="select3Change($event, widget, newVal, oldVal)"></wm-select> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite20"> 
                    <wm-label class="col-md-3 control-label" name="label24" caption="Height"></wm-label> 
                    <wm-container class="col-md-9" name="container20"> 
                        <wm-text name="text15_1" datavalue="200px" on-change="text15_1Change($event, widget, newVal, oldVal)"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite12"> 
                    <wm-label class="col-md-3 control-label" name="label15" caption="Width"></wm-label> 
                    <wm-container class="col-md-9" name="container12"> 
                        <wm-text name="text10" readonly="false" disabled="false" tabindex="-1" datavalue="200px" on-change="text10Change($event, widget, newVal, oldVal)"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-label padding="unset 0.5em" name="label20" caption="Unchangeable properties in run mode" fontweight="bold" class="h3"></wm-label> 
                <wm-composite name="composite8_1"> 
                    <wm-label class="col-md-3 control-label" name="label11_1" caption="TabIndex"></wm-label> 
                    <wm-container class="col-md-9" name="container8_1"> 
                        <wm-text name="text6_1" datavalue="bind:Widgets.anchor1.tabindex" readonly="false" disabled="true" tabindex="-1"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite9_1"> 
                    <wm-label class="col-md-3 control-label" name="label12_1" caption="Shortcut"></wm-label> 
                    <wm-container class="col-md-9" name="container9_1"> 
                        <wm-text name="text7" readonly="false" datavalue="bind:Widgets.anchor1.shortcutkey" disabled="true" tabindex="-1"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite10"> 
                    <wm-label class="col-md-3 control-label" name="label13" caption="Load On Demand"></wm-label> 
                    <wm-container class="col-md-9" name="container10"> 
                        <wm-checkbox type="toggle" name="toggle2" readonly="false" datavalue="bind:Widgets.anchor1.deferload" disabled="true" tabindex="-1"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite11"> 
                    <wm-label class="col-md-3 control-label" name="label14" caption="Name"></wm-label> 
                    <wm-container class="col-md-9" name="container11"> 
                        <wm-text name="text9" readonly="false" datavalue="bind:Widgets.anchor1.name" disabled="true" tabindex="-1"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite13"> 
                    <wm-label class="col-md-3 control-label" name="label16" caption="Animation"></wm-label> 
                    <wm-container class="col-md-9" name="container13"> 
                        <wm-text name="text11" readonly="false" datavalue="bind:Widgets.anchor1.animation" disabled="true" tabindex="-1"></wm-text> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn74" horizontalalign="center"> 
                <wm-anchor margin="8em 0.5em 2em 0.5em" name="anchor1" caption="" bordercolor="#353535" borderstyle="dashed" padding="4em" show="bind:Widgets.toggle1.datavalue" shortcutkey="l" width="200px" height="200px" animation="rollIn" iconclass="" deferload="true" encodeurl="true" iconwidth="20px" iconheight="20px" iconmargin="5px" iconposition="top" target="_blank" on-click="anchor1Click($event, widget)" showindevice="md,lg"></wm-anchor> 
                <wm-iframe name="iframe1"></wm-iframe> 
                <wm-label padding="unset 0.5em" name="label22" caption="Out bound properties" fontweight="bold" fontunit="px" class="h3"></wm-label> 
                <wm-composite name="composite17"> 
                    <wm-label class="col-md-3 control-label" name="label23" caption="Badge"></wm-label> 
                    <wm-container class="col-md-9" name="container17"> 
                        <wm-text name="text14_1" datavalue="bind:Widgets.anchor1.badgevalue"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite18"> 
                    <wm-label class="col-md-3 control-label" name="label24" caption="Caption"></wm-label> 
                    <wm-container class="col-md-9" name="container18"> 
                        <wm-text name="text15" datavalue="bind:Widgets.anchor1.caption"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite19"> 
                    <wm-label class="col-md-3 control-label" name="label25" caption="Hyperlink"></wm-label> 
                    <wm-container class="col-md-9" name="container19"> 
                        <wm-text name="text16" datavalue="bind:Widgets.anchor1.hyperlink"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite20"> 
                    <wm-label class="col-md-3 control-label" name="label26" caption="Icon Class"></wm-label> 
                    <wm-container class="col-md-9" name="container20"> 
                        <wm-text name="text17" datavalue="bind:Widgets.anchor1.iconclass"></wm-text> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow30"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn75"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn76"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow31"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn77"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn78"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow32"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn79"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn80"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow33"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn81"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn82"></wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>